---
- name: Get home dir path
  become: false
  shell: "echo $HOME"
  register: home_dir_path

- name: Download container platform deployment
  become: false
  git:
    repo: https://github.com/K-PaaS/cp-deployment.git
    dest: "{{ home_dir_path.stdout }}/cp-deployment/"
    version: branch_v1.6.x
    update: no
  ignore_errors: yes
